<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <h1 class="main-title"> URBANCLAP CLONE</h1>
        <nav class="nav main-nav">
        <ul class="list-divider-pipe">
            <li>
               <a href="/">HOME</a> 
            </li>
            <li>
               <a href="/services">OUR SERVICES</a> 
            </li>
            <LI>
               <a href="/rates">RATE CARD</a> 
            </LI>
            <li>
               <a href="/contact">CONTACT US</a> 
            </li>
        </ul>
        <hr>
    </nav>  
</header>
<section>
    <p>
        <h2 class="contact-no">
            For any queries pleas contact: 4444444444
        </h2>
    </p>
    <p>
        <h2 class="contact-email">
            or email us at: qwfarevwv@etsg.com
        </h2>
    </p>
    

</section>
<footer>
    <div>
        <h3 class="footer-title">URBANCLAP</h3>
        <nav class="nav footer-nav">
            <ul>
                <li>
                   <a href="#">facebook</a> 
                </li>
                <li>
                   <a href="#">insta</a> 
                </li>                
                <li>
                   <a href="#">linkedin</a> 
                </li>
            </ul>
        </nav>
    </div>
    
</footer>
</body>
</html>