<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homiety | Booking</title>
    <link rel="shortcut icon" href="../assets/icon.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="/assets/home.css">
</head>
<body>
    <section class="section">
        <h3>
            <br><br>
            <center>Thank you for reaching Homiety!! please provide your registered Mobile number and password to place your order.
         </center>
            </h3>
    <div class="parent-form-order">
        <center>
        <form action="/services/plumbing/leaks" method="POST" class="form-order">
        
        <label for="number" class="text-value">Enter Number</label>
        <input type="text" id="number" name="number">
        <br><br>
        <label for="password" class="text-value">Enter password</label>
        <input type="password" id="password" name="password">
        <br><br>
        <label for="order" class="text-value">ordered</label>
        <input type="text" id="order" name= "order" value="<%= order %>" disabled>
        <br><br>
        
        <button type="submit" onclick="return confirm('Are you sure you want to place this order?');" class="text-value btn-style">
            PLACE <br> ORDER
        </button>
        <br>
        Don't have an account? <a href="/register">
        Register Now
        </a>
    </center>
    </form>
    </div>
</section>
    <footer class="main-footer">
        <div class="main-footer main-footer-container">
            <h3 class="footer-title">HOMIETY</h3>
            
                <ul class="nav footer-nav">
                    <li>
                        <a href="https://www.facebook.com/homietyservices/" target="_blank">
                            <img src="/assets/Facebook Logo.png" alt="">
                        </a>
                        </li>
                        <li>
                        <a href="https://www.instagram.com/_.homiety._/" target="_blank">
                            <img src="/assets/insta logo.PNG" alt="">
                        </a>
                        </li>
                    
                        <li>
                        <a href="https://www.linkedin.com/company/homiety" target="_blank">
                            <img src="/assets/linkedin logo.PNG" alt="">
                        </a> 
                        </li>
                </ul>
        </div>
        
    <div class="main-footer-container-2">
        <center class="copyright nav">
           Developed by &copy;<a href="https://www.linkedin.com/in/pranav-patki-387569192/" class="copyright" target="_blank">
            Pranav Patki
           </a>
        </center>
    </div>
    </footer>
</body>
</html>