<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban clone</title>
    <link rel="stylesheet" href="/assets/home.css">
</head>
<body>
    <header class="main-header">
        <h1 class="main-title"> HOMIETY</h1>
        <nav class="nav main-nav">
        <ul class="list-divider-pipe">
            <li>
               <a href="/">HOME</a>
            </li>
            <li>
               <a href="/services">OUR SERVICES</a> 
            </li>
            <LI>
               <a href="/rates">RATE CARD</a> 
            </LI>
            <li>
               <a href="/contact">CONTACT US</a>
            </li>
            <li>
                <a href="/register">REGISTER</a>
            </li>
            <li>
                <a href="/myaccount">ACCOUNT</a>
            </li>
            <!-- <li>
                <a href="/admin">ADMIN LOGIN</a>
            </li> -->
        </ul>
        <hr>
    </nav>
</header>
<section class="section">
    <h2 class="section-header">
        ABOUT US
    </h2>
    <p>
    <img src="../assets/architect-1080589_1280.jpg" alt="" class="image">
    </p>
    <h3>
    <p class="home-font">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus explicabo culpa quasi modi, similique voluptates iure iste corrupti veritatis odio, dolorum commodi minima deleniti id fugit vitae? Dolores, recusandae nulla.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut explicabo modi eos cumque odio aspernatur praesentium perspiciatis fuga consequuntur repudiandae, molestiae, ab consequatur molestias, porro doloremque ea non saepe exercitationem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptas nisi, voluptates laudantium ratione voluptate totam harum aperiam enim maxime modi eum fuga iste a repellendus vel in provident quas?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, explicabo porro. Eveniet rerum incidunt deleniti laborum minus quas labore dignissimos ipsum cumque fuga odio, aperiam aspernatur quis minima saepe voluptate.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem rem, ducimus dolorum ipsum voluptatum voluptate, suscipit, iure aperiam laudantium minus accusantium atque porro? Accusantium consequuntur dolorem ut explicabo, adipisci repellendus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ea, voluptate, voluptatem voluptatum veritatis dolorem magni alias vel quidem .
    </p>
    <br><br><br>
    <p>
        <img src="../assets/title bg img_2.jpg" alt="" class="image-2">
    </p>
    <p class="home-font-2">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate numquam, suscipit perferendis consectetur sed expedita autem tempore reprehenderit nisi maiores quia non cumque nulla odit molestiae natus quaerat tempora eligendi!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem voluptatibus accusantium odit dolore dolores sunt deleniti dicta consequatur, voluptates blanditiis corrupti, nesciunt quo dolorum porro vitae. Doloribus voluptates ratione repudiandae.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas incidunt delectus recusandae. Nihil tempore veritatis ab, impedit quidem pariatur optio, in laborum fuga amet consectetur laudantium provident neque dolorem saepe!
    </p>
    
    </h3>
</section>
<footer class="main-footer">
    <div class="main-footer main-footer-container">
        <h3 class="footer-title">HOMIETY</h3>
        <h4>
            <a href="/admin"  class="admin-title">ADMIN </a>
        </h4>
        
            <ul class="nav footer-nav">
                    <li>
                    <a href="#">
                        <img src="../assets/Facebook Logo.png" alt="">
                    </a>
                    </li>
                    <li>
                    <a href="https://www.instagram.com/_.homiety._/" target="_blank">
                        <img src="../assets/insta logo.PNG" alt="">
                    </a>
                    </li>
                
                    <li>
                    <a href="#">
                        <img src="../assets/linkedin logo.PNG" alt="">
                    </a> 
                    </li>
            </ul>
    </div>
    
</footer>
</body>
</html>