<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban clone | Services</title>
    
    <link rel="stylesheet" href="/assets/home.css">
</head>
<body>
    <header class="main-header">
        <h1 class="main-title"> HOMIETY</h1>
        <nav class="nav main-nav">
        <ul class="list-divider-pipe">
            <li>
               <a href="/">HOME</a> 
            </li>
            <li>
               <a href="/services">OUR SERVICES</a> 
            </li>
            <LI>
               <a href="/rates">RATE CARD</a> 
            </LI>
            <li>
               <a href="/contact">CONTACT US</a> 
            </li>
            <li>
                <a href="/register">REGISTER</a>
            </li>
            <li>
                <a href="/myaccount">MY ACCOUNT</a>
            </li>
            
        </ul>
        <hr>
    </nav>  
</header>
<section class= "section services-section">
    <div>
        <h3 class="section-header"> 
            SERVICES
        </h3>
    </div>
    <div>
        <img src="../assets/vans-5572117_1280.png" alt="" class="services-img">
        <ul>
            <h3 class="section-text">
            <li>
               <a href="/services/plumbing">PLUMBING</a>
            </li>
            <br><br>
            <li>
               <a href="/services/electrician">ELECTRICIAN</a>
            </li>
            <br><br>
            <li>
               <a href="/services/housekeeping">HOUSEKEEPING</a>
            </li>
            <br><br>
            <li>
               <a href="/services/maid">MAID</a> 
            </li>
            <br><br>
            <li>
                <a href="/services/painting">HOUSE PAINTING</a> 
             </li>
             <br><br>
             <li>
                <a href="/services/pest-control">PEST CONTROL</a>
             </li>
             <br><br>
             <li>
                <a href="/services/security">SECURITY GUARD</a>
             </li>
             <br><br>
             <li>
                <a href="/services/gardening">GARDENING</a>
             </li>
             <br><br>
             </h3>
        </ul>
    </div>
</section>
<footer class="main-footer">
    <div class="main-footer main-footer-container">
        <h3 class="footer-title">HOMIETY</h3>
        
            <ul class="nav footer-nav">
                <li>
                   <a href="#">
                       <img src="../assets/Facebook Logo.png" alt="">
                   </a> 
                </li>
                <li>
                   <a href="#">
                       <img src="../assets/insta logo.PNG" alt="">
                   </a>
                </li>                
                <li>
                   <a href="#">
                       <img src="../assets/linkedin logo.PNG" alt="">
                   </a> 
                </li>
            </ul>
       
    </div>
    
</footer>
</body>
</html>