<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homiety</title>
    <link rel="shortcut icon" href="../assets/icon.jpeg" type="image/x-icon">

    <link rel="stylesheet" href="/assets/home.css">
</head>
<body>
    <header class="main-header">
        <h1 class="main-title"> HOMIETY</h1>
        <nav class="nav main-nav">
        <ul class="list-divider-pipe">
            <li>
               <a href="/">HOME</a>
            </li>
            <li>
               <a href="/services">SERVICES</a> 
            </li>
            <LI>
               <a href="/rates">RATE CARD</a> 
            </LI>
            <li>
               <a href="/contact">CONTACT</a>
            </li>
            <li>
                <a href="/register">REGISTER</a>
            </li>
            <li>
                <a href="/myaccount">ACCOUNT</a>
            </li>
            <!-- <li>
                <a href="/admin">ADMIN LOGIN</a>
            </li> -->
        </ul>
        <hr>
    </nav>
</header>
<section class="section">
    <h2 class="section-header">
        Rate Card
    </h2>
    <center>
        <b>Housekeeping/cleaning</b>
        <br>
    <br>
    <b>
    Apartments- 
    </b>
    <br>
    (Full home deep cleaning)
    <br>
    1BHK
    <br>
    Deep cleaning price Rs. 3000 to Rs. 4000
    <br>
    2 BHK
    <br> 
    Deep cleaning price Rs. 5000 to Rs. 6000
    <br>
    3 BHK
    <br>
    Deep cleaning price Rs. 6500 to Rs. 7000
    <br>
    4BHK
    <br>
    Deep cleaning price Rs. 7500 to Rs. 8000
    <br>
    <b>Bunglow/villa</b>
    
    <br>
    (Deep cleaning)
    <br>
    Villa (2000 to 3000 sq.ft)
    <br>
    Price Rs. 3000 to Rs. 4000
    <br>
    Villa (3000 to 4000 sq.ft)
    <br>
    Price Rs. 4000 to Rs. 5000
    <br>
    Villa(4000 to 5000 sq.ft)
    <br>
    Price  Rs. 5000 to Rs. 6000
    <br><br>
    <b>   
    Salon and beauty service
    </b>
    <br>
    <br>
    <b> 1. Haircut for men's</b>
    <br>
    Price Rs. 150 to Rs. 300
    <br>
    2. <b>Haircut for ladies </b>
    <br>
    Price Rs. 250 to Rs. 500
    <br>
    3. <b>Haircut for kids</b>
    <br>
    Price Rs. 150 to Rs. 300
    <br>
    <br>
    <!-- <b>
    Home appliances repair
    </b>
    <br>
    <br>
    Ac
    <br>
    1. Repair.   2. Installation
    <br>
    Washing machine
    <br>
    1. Repair   
    <br>
    Geyser
    <br>
    1. Repair  2. Installation
    <br>
    TV 
    <br>
    1. Repair 2. Installation
    <br>
    <br> -->
    </center>
    
</section>
<footer class="main-footer">
    <div class="main-footer main-footer-container">
        <h3 class="footer-title">HOMIETY</h3>
            <ul class="nav footer-nav">
                    <li>
                    <a href="https://www.facebook.com/homietyservices/" target="_blank">
                        <img src="../assets/Facebook Logo.png" alt="">
                    </a>
                    </li>
                    <li>
                    <a href="https://www.instagram.com/_.homiety._/" target="_blank">
                        <img src="../assets/insta logo.PNG" alt="">
                    </a>
                    </li>
                
                    <li>
                    <a href="https://www.linkedin.com/company/homiety" target="_blank">
                        <img src="../assets/linkedin logo.PNG" alt="">
                    </a> 
                    </li>
            </ul>
    </div>
    
    <div class="main-footer-container-2">
        <center class="copyright nav">
           Developed by &copy;<a href="https://www.linkedin.com/in/pranav-patki-387569192/" class="copyright" target="_blank">
            Pranav Patki
           </a>
        </center>
    </div>
</footer>
</body>
</html>